{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

        <h1 class="text-center text-decoration-underline">Records</h1><br/>
  
        <table class="table table-bordered border-darky">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No.</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Date of Creation</th>
              </tr>
            </thead>
            <tbody>
                {% if records %}
                {% for record in records %}
              <tr>
                <th scope="row" ><a href="{% url 'record' record.id %}">{{forloop.counter}}</a></th>
                <td>{{record.first_name}}</td>
                <td> {{record.last_name}} </td>
                <td>{{record.email}}</td>
                <td>{{record.phone}}</td>
                <td>{{record.city}}</td>
                <td>{{record.state}}</td>
                <td>{{record.created_at}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        
    
      

{% else %}
   
<div class="col-4 offset-4">
    <h1>Login</h1>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="username" required><br/>
        <input type="text" class="form-control" name="password" placeholder="password" required><br/>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
{% endif %}
{% endblock content %}